body {
  background-color: black;
  color: white;
}
.input-filed {
  width: 1000px;
  cursor: pointer;
  background-color: #36454f;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  width: 1000px;
}
.input-filed:hover {
  background-color: #2e2c2c;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
}
.upload-label:hover {
  background-color: gray;
}

.file-name {
  font-size: 14px;
  color: #555;
}
